.header {
  background-color: #fff;
  display: flex;
  height: 10%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
}

.nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav li {
  font-size: 1.2rem;
}

.profile_picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #444444;
}

.profile_picture img {
  max-width: 100%;
  max-height: 100%;
}
