.sidebar {
  background-color: #fff;
  padding: 2rem;
  border-radius: 4px;
  height: 100%;
}

.sidebar ul {
  list-style: none;
}

.sidebar a {
  color: #aaaaaa;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
}

.sidebar a.active {
  color: #000;
}
