.list {
  background-color: #fff;
  border-radius: 4px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px solid #ccc;
}
