.card {
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info p {
  font-size: 1.1rem;
  color: #aaaaaa;
}

.info h5 {
  font-size: 1.3rem;
}
